@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('./assets/fonts/Roboto-Bold.ttf')
}

@font-face {
  font-family: 'Poppins-bold';
  src: url('./assets/fonts/Poppins-Bold.ttf')
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Medium.ttf')
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4,h5, h5 {
  font-family: 'Poppins-bold' !important;
}

p {
  font-family: 'Poppins' !important;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
